<!DOCTYPE html>
<html>
<head>
    <title>Neagu Cristian</title>
    <link rel="stylesheet" href="{{ asset('styles/neagu_cristian.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="hl">Salut, numele meu este Neagu Cristian</h1>
        <div class="img">
        <img src="{{ asset('images/cristian.jpg') }}" alt="cristian">
        </div>
        <p class="content">Ca programator, te definește pasiunea și dedicarea pentru lumea tehnologică, unde codul devine limbajul prin care comunici cu mașinile pentru a crea soluții ingenioase la problemele din jurul nostru. Ești mereu în căutare de noi provocări și tehnologii care să-ți îmbogățească cunoștințele și să-ți perfecționeze abilitățile.</p>
        <p class="content">Ai o abordare meticuloasă și metodică în abordarea problemelor de programare, îmbinând creativitatea cu rigurozitatea în dezvoltarea aplicațiilor și a software-urilor. Capacitatea ta de a găsi soluții eficiente și elegante la probleme complexe te diferențiază și te consacră ca un programator talentat și inovator în domeniul tehnologiei informatice.</p>
        <ul class="content">
            <li>Pasiunea pentru tehnologie și programare.</li>
            <li>Abilitatea de a găsi soluții eficiente la probleme complexe.</li>
            <li>Meticulozitatea și atenția la detalii în abordarea programelor.</li>
            <li>Creativitatea în dezvoltarea de aplicații și software-uri.</li>
            <li>Capacitatea de a învăța rapid și de a te adapta la noile tehnologii.</li>
        </ul>
    </div>
</body>
</html>