img {
    width: 250px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color:brown;
    text-align: center;
}
p {
    padding-left: 50px;
}