<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ asset('styles/grozavescu_claudia/grozavescu_claudia.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Blogul Claudiei</h2>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Parola">
        <button onclick="login()">Login</button>
        <div id="error" class="error"></div>
    </div>

    <div class="blog-container" style="display:none;">
        <div class="left-container">
            <input type="text" id="postUser" placeholder="User">
            <textarea id="postDescription" placeholder="Descriere"></textarea>
            <input type="text" id="postImage" placeholder="Link imagine">
            <button onclick="addPost()">Adauga Postare</button>
            <div id="posts"></div>
        </div>
        <div class="right-container" id="postDetails">
            <h3>Detalii Postare</h3>
        </div>
    </div>
    <script src="{{asset('styles/grozavescu_claudia/grozavescu_claudia.js')}}"></script>
</body>
</html>
