{% extends 'base.html.twig' %}

{% block title %}Create dynamic page{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1>Edit dynamic page</h1>
    <div class=""><a href="{{ path('app_vaideanu_cornel_dynamic_page') }}">View Page</a></div><br>

    <form method="post" action="" enctype="multipart/form-data">

        <div class="input-wrap">
            <label>Title</label>
            <input name="title" type="text" value="{{ page.getTitle() }}" />
            <br><br>
        </di>

        
        <div class="input-wrap">
            <label>image</label><br>
            <img src="{{ asset('images/' ~ page.photo ) }}" alt="cornel vaideanu profile" class="profile-picture"><br>
            <input name="image" type="file" />
            <br><br>
        </div>

        <div class="input-wrap">
            <label>Description</label><br>
            <textarea rows="30" cols="100" name="description">{{ page.getDescription() }}</textarea>
            <br><br>
        </div>

        <div class="input-wrap">
            <input type="submit" value="Salveaza">
        </div>
    </form>

</div>
{% endblock %}
